body {
    background-color: #FFFFFF;
    color:#333333;
    margin:0;
    padding:0;
    position: relative;
}
.title{
    text-align: left;
    padding: 25px;
    font-weight: 700;
    line-height: 25.18px;
}
.container{
    margin: 25px 20px 25px 20px;
}
img {
    max-height: 100%;
    max-width: 80%;
}
.second{
    max-width:586px;
}
h1{
    font-family: 'Inconsolata', monospace;
    font-size: clamp(38px, 4vw, 54px);
    font-weight: 700;
}
h3 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(14px, 4vw, 20px); 
}
.info{
    font-weight: lighter;
    font-weight: 400;
    max-width: 381px;
}
button{
    font-family: 'Space Mono', monospace;
    font-weight:bolder;
    font-size: 14px;
    margin-top: 20px;
    background-color: #333333;
    color:#FFFFFF;
    width:216px;
    height:68px;
    border: none;
    cursor: pointer;
}
footer{
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    text-align: center;  
}
.footer-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color:rgba(189, 189, 189, 1);  
}
